
{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
{% include "nav/nav.html" %}
<body class="bg-gray-100 text-gray-800 font-sans h-screen flex flex-col"> 
  <div class="flex flex-1 overflow-hidden">
    
   
    <div class="w-1/4 bg-white border-r" >
      {% include "nav/left_nav.html" %}
    </div>
 

    
    
    <main class="flex-1 flex flex-col">
      <div id="chat-container" class="flex-1 flex flex-col h-screen">
        {% include "chat_window.html" %}  <!-- Initial empty state -->
      </div>
    </main>
       
    
     
    </div>
  </div>
</body>


{% endblock %}