
{% extends "base.html" %}
{% load custom_filters %}
{% block content %}

<body class="bg-gray-100 text-gray-800 font-sans h-screen flex flex-col"> 
  <div class="flex flex-1 overflow-hidden">
  {% include "nav/left_nav.html" %}
  <div class="min-h-screen flex flex-col items-center justify-center bg-gray-50 text-gray-800 font-sans">
    <h1 class="text-3xl font-semibold mb-6">Email Verification had been sent to your email</h1>
  </div>


    
     
    </div>
  </div>
</body>
{% endblock %}