<div id="left-nav">
  {% load custom_filters %}

  <!-- User Profile -->

  <div
    class="p-4 cursor-pointer bg-gray-100 hover:bg-gray-200 flex items-center"
    hx-get="{% url 'user_profile' %}"
    hx-target="#chat-container"
    hx-push-url="true"
  >
    <img
      class="h-10 w-10 rounded-full mr-3"
      src="{{request.user.profile.profile_pic.url}}"
      alt="User avatar"
    />
    <h2 class="font-semibold">{{ request.user.username }}</h2>
  </div>

  <form
    hx-get="{% url 'search_chats' %}"
    hx-trigger="input changed delay:200ms"
    hx-target="#chat-list"
    hx-indicator="#loading-spinner"
  >
    <div class="p-3 relative">
      <input
        type="text"
        name="q"
        placeholder="Search or start new chat"
        class="w-full p-2 bg-gray-100 rounded-md"
      />
      <div id="loading-spinner" class="absolute right-3 top-3 hidden">🔄</div>
    </div>
  </form>

  <!-- Chat List -->
  <div class="overflow-y-auto h-[calc(100vh-120px)]" id="chat-list">
    {% for user in chat_users %}
    <div
      class="flex items-center p-3 hover:bg-gray-100 cursor-pointer"
      hx-get="{% url 'chat_detail' user.id %}"
      hx-target="#chat-container"
      hx-push-url="true"
    >
      <img
        class="h-12 w-12 rounded-full mr-3"
        src="{{user.profile.profile_pic.url}}"
        alt="Friend's avatar"
      />
      <div class="flex-1">
        <h3 class="font-semibold">{{ user.username }}</h3>
        <p class="text-sm text-gray-600 truncate">
          {{ last_messages|get_item:user|truncatewords:5 }}
        </p>
      </div>
      <span class="text-xs text-gray-500">
        {{ message_times|get_item:user|date:"H:i A" }}
      </span>
    </div>
    {% empty %}
    <p class="text-gray-500 p-4">No recent chats</p>
    {% endfor %}
  </div>
</div>
